<h1>Alle Gruppen</h1>

<% @groups.each do |group| %>
  <div>
    <h2><%= link_to group.name, group_path(group) %></h2>
    <p>Mitglieder: <%= group.users.count %></p>
    <% if current_user.groups.include?(group) %>
      <p>Sie sind Mitglied dieser Gruppe</p>
    <% else %>
      <%= button_to 'Beitreten', join_group_path(group), method: :post %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Neue Gruppe erstellen', new_group_path %>